@import "../../node_modules/font-awesome/less/icons.less";

@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: local('Pompiere-Regular'), url('../fonts/Pompiere-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#background {
  background: url('../images/earthsea_map.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  position:fixed;
  z-index: -1;
  top:0px;
  bottom:0px;
  left:0px; right:0px;
}

.container {
  padding: 1em;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

.main {
  width: 100%;
  height:100vh;
}

input[type='text'] {
  width: 100%;
}

.padded {
  padding: 1em;
}

.relative {
  position: relative;
}

.relative > .vertical {
  position: absolute;
}

.relative > .center {
  position: absolute;
  top:  25%;
  left: 50%;
  transform: translate(-50%,+50%);
}

.box {
  background:rgb(0,128,128);
  height: 200px;
  width: 200px;
  display: inline-block;
  border: 2px solid white;
}

.backBar {
  width: 100%;
  padding: 10px;
  background:rgb(0,128,128);
  border-bottom: 2px solid white;
}

.inline-block {
  display: inline-block;
}

.spaced {
  padding-right: 1em;
}

.white {
  color: #FFFFFF;
}

.bg-white {
  background: #FFFFFF;
}

.bg-red {
  background: #C0392B;
}

.bg-semi-transparent {
  opacity: 0.9;
}

.space-below {
  margin-bottom: 1em;
}

.pieces {
  overflow-wrap: break-word;
}

/* $midnight: #000022; */
/* $dark: #282828; */
/* $white: #FFFFFF; */

/* Aspalt: #34495e */
/* Pomegranate:  */

/* html{ */
/*   min-height: 100vh; */
/* } */

/* body{ */
/*   min-height: 100vh; */
/*   background: #C0392B; */
/*   color: #FFFFFF; */
/* } */

/* nav.primary { */
/*   height: 54px; */
/*   background: #282828; */
/*   border-bottom: 2px solid #FFFFFF; */
/*   margin-bottom: 50px; */
/* } */

/* nav.primary > ul { */
/*   list-style: none; */
/*   display: flex; */
/* } */

/* nav.primary > ul > a { */
/*   text-decoration: none; */
/*   color: white; */
/* } */

/* nav.primary > ul > a:hover { */
/*   color: #FFFFFF; */
/* } */

/* nav.primary > ul > a:hover > li { */
/*   background: #C0392B; */
/* } */

/* nav.primary > ul > a > li { */
/*   margin: 0; */
/*   padding: 15px 10px 15px 10px; */
/*   display: inline-block; */
/*   list-style-type: none; */
/* } */

/* .logo { */
/*   height: 400px; */
/* } */
